.mid,.nativ{margin-bottom:1em;}@media(min-width:45em){.mid{width:336px;margin:auto;margin-bottom:1em;}}.ad_top{width:300px;height:250px;margin:auto;margin-bottom:1em;}@media(min-width:45em){.ad_top{width:300px;height:250px;float:right;margin-left:1em;}}.ad_mid{margin-top:1.5em;margin-bottom:1.5em;}
dl{padding-left:1rem;}
.menu__item .is-active{color:#363636;}
